<ul>
  <% @files.each do |file_name| %>
    <li>
      <a href="/<%= file_name %>"><%= file_name %></a>
      <a href="/<%= file_name %>/edit"><button type='button'>edit</button></a>
    </li>
  <% end %>
</ul>
<a href='/new'>New Document</a>
