<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Files Are Here!</title>
    <link rel="stylesheet" href="/stylesheets/cms.css" type="text/css" />
    <script src='/javascripts/jquery-3.3.1.min.js'></script>
    <script src='/javascripts/application.js'></script>
  </head>
  <body>
    <% message = read_message %>
    <% if message == :error %>
      <div class='message error'>
        <p><%= session.delete(message) %></p>
      </div>
    <% elsif message == :success %>
      <div class='message success'>
        <p><%= session.delete(message) %></p>
      </div>
    <% end %>

    <%== yield %>
  </body>
</html>
