<form action='/create' method='post'>
  <label for='title'><h3>Add a new document:</h3></label>
  <input type='text' name='file_name' id='file_name' size='50' maxlength='100' value="<%= params[:file_name]%>" placeholder='New file name with extension' >
  <p><button type='submit'>create</button></p>
</form>
