<form action='/create' method='post'>
  <label for='file_name'><h3>Add a new document:</h3></label>
  <input type='text' name='file_name' id='file_name' size='50' maxlength='100' value="<%= params[:file_name]%>" placeholder='New file name with extension' >
  <p><button id='create' type='submit'>create</button></p>
</form>
<a href='/'><button class='cancel' type='cancel' name='cancel'>cancel</button></a>
