<form class="" action="/sign_in" method="post">
  Username: <input type="text" name='username' id='username' value="<%= params[:username] %>"><br>
  Password: <input type="text" name='password' id='password' value="<%= params[:password] %>"><br>
  <button type="submit" name="sign_in">Sign In</button><br>
</form>
