<form enctype="multipart/form-data" action='/upload' method='post'>
  <label for='fileupload'><h3>Select a file to upload:</h3></label>
  <input type='file' id='fileupload' name='fileupload' value='uploaded_file'>
  <button class='upload' type='submit'>upload</button>
  <p class='italic'>Files should not be more than 1.5 MB.</p>
</form>
<a href='/'><button class='cancel' type='cancel' name='cancel'>cancel</button></a>
