body {
  font-family: Arial, sans-serif;
  margin: 1%;
}

.message {
  background-color: rgb(249, 245, 148);
  padding: 5px;
}

.message p {
  padding-left: inherit;
  margin: 5px;
}

.inline {
  display: inline;
}

.italic {
  font-style: italic;
}

#edit {
  background-color: rgb(32, 110, 214);
}

#duplicate {
  background-color: rgb(67, 157, 58);
}

#rename {
  background-color: rgb(244, 242, 41);
}

#delete {
  background-color: rgb(235, 49, 16);
}

#new {
  border-color: rgb(67, 157, 58);
  background-color: rgb(86, 205, 74);
  line-height: 2;
}

#sign_out,
#sign_in {
  border-color: rgb(241, 43, 23);
  background-color: rgb(249, 249, 249);
  line-height: 3;
  width: 80px;
}

button {
  border-radius: 15px;
  line-height: 1.5;
}
