body {
  font-family: Arial, sans-serif;
  margin: 1%;
}

.message {
  padding: 5px;
}

.error {
  background-color: #FFA098;
}

.success {
  background-color: #94f9a7;
}

.message p {
  padding-left: inherit;
  margin: 5px;
}

.inline {
  display: inline;
}

.italic {
  font-style: italic;
}

#edit,
#duplicate,
#rename {
  /* background-color: rgb(32, 110, 214); */
  background-color: #6569E8;
}

#delete {
  background-color: #FF4141;
}

#new {
  border-color: #34FF86;
  background-color: #34FF86;
  line-height: 2;
}

#sign_out,
#sign_in {
  line-height: 3;
  width: 80px;
}

#sign_in {
  border-color: #34FF86;
  background-color: #34FF86;
}

#sign_out {
  border-color: rgb(241, 43, 23);
  background-color: rgb(249, 249, 249);
}

button {
  border-radius: 15px;
  line-height: 1.5;
}
